<!DOCTYPE html>
<html lang="en">
    
<body>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    
    <div class="container offcanvas-start  ">
        <center>
            <br>
            <br>
            <%-include('partials/encabezado.html');%>
            <form action="/agenciaViajes" method="post" >
                <label class="input-group-text fs-5">Num boleto:</label>
                <input type="number" name="numBole" id="numBole" aria-label="First name" class="form-control" required="true">
                <br>

                <label class="input-group-text fs-5">Destino:</label>
                <input type="text" name="destino" id="destino" aria-label="First name" class="form-control" required="true">
                <br>

                <label class="input-group-text fs-5" for="">Nombre del Cliente:</label>
                <input type="text" name="nomCliente" id="nomCliente" aria-label="First name" class="form-control" required="true">
                <br>
                <br>
                <label class="input-group-text fs-5" for="">Años cumplidos:</label>
                <input type="number" name="edad" id="edad" aria-label="First name" class="form-control" required="true">
                <br>
                <br>
                <label class="input-group-text fs-5" for="">Tipo de viaje:</label>
                <select name="tipoVia" id="tipoVia" aria-label="First name" class="form-control">
                    <option  value="Sencillo">Sencillo</option>
                    <option  value="Doble">Doble</option>
                </select>
                <br>
                <br>
                
                <label class="input-group-text fs-5" for="">Precio:</label>
                <input type="number" name="precio" id="precio" required="true" aria-label="First name" class="form-control">
                <br>
                <br>
                <button class="btn btn-dark fs-5" type="submit">Calcular</button>
               
                <button  class="btn btn-dark fs-5" onclick="limpiar()" id="btnLimpiar">Limpiar</button>
                <br>
                <br>
                <hr class="border border-dark border-2 opacity-50">
                <br>

                    <%
                    let subtotal = 0;
                    let impuesto = 0.16;
                    let descuento = 0.5;
                    let totalPagar = 0;
                    let pagoDoble = 1.8;

                    if(tipoVia=="Sencillo" && edad >= 60){
                        subtotal = parseInt(precio);
                        descuento = (subtotal + impuesto) * descuento;
                        impuesto =  subtotal * impuesto;
                        totalPagar = subtotal + impuesto - descuento;


                    } else if(tipoVia=="Sencillo" && edad < 60){
                        subtotal = parseInt(precio);
                        descuento = 0;
                        impuesto =  subtotal * impuesto;
                        totalPagar = subtotal + impuesto;

                    } else if(tipoVia=="Doble" && edad >= 60){
                        
                        subtotal = parseInt(precio) * 1.8;
                        impuesto = subtotal * impuesto;
                        descuento =(subtotal + impuesto) * descuento;
                        totalPagar = subtotal + impuesto - descuento;

                    } else if(tipoVia=="Doble" && edad < 60){
                        
                        subtotal = parseInt(precio) * 1.8;
                        descuento = 0;
                        impuesto =  subtotal * impuesto;
                        
                        totalPagar = subtotal + impuesto - descuento;

                    }
                    %>
                
                    <div class="col-md-8 ">

                        
                                            <label class="fs-5" scope="row">Num boleto: </label>
                                            <input class="fs-4" value="<%=numBole%>" disabled>
                                            <br>                                       
                                            <br>
                                            <label class="fs-5" scope="row">Nombre cliente: </label>
                                            <input class="fs-4" value="<%=nomCliente%>" disabled>
                                            <br>                                       
                                            <br>
                                            <label class="fs-5" scope="row">Edad: </label>
                                            <input class="fs-4" value="<%=edad%>" disabled>
                                            <br>                                       
                                            <br>
                                            <label class="fs-5" scope="row">Destino: </label>
                                            <input class="fs-4" value="<%=destino%>" disabled>
                                            <br>                                       
                                            <br>
                                            <label class="fs-5" scope="row">Tipo de viaje: </label>
                                            <input class="fs-4" value="<%=tipoVia%>" disabled>
                                            <br>                                       
                                            <br>
                                            <label class="fs-5" scope="row">Precio: </label>
                                            <input class="fs-4" value="<%=precio%>" disabled>
                                            <br>                                       
                                            <br>                                                                                                              
                                    
                                <h3>Importe</h3>
                                
                                    <tbody>
                                        <label class="fs-5" scope="row">Subtotal: </label>
                                        <input class="fs-4" value="<%=subtotal%>" disabled>
                                        <br>                                       
                                        <br> 
                                        <label class="fs-5" scope="row">Impuesto: </label>
                                        <input class="fs-4" value="<%=impuesto%>" disabled>
                                        <br>                                       
                                        <br> 
                                        <label class="fs-5" scope="row">Descuento: </label>
                                        <input class="fs-4" value="<%=descuento%>" disabled>
                                        <br>                                       
                                        <br> 
                                        <label class="fs-5" scope="row">Total a pagar: </label>
                                        <input class="fs-4" value="<%=totalPagar%>" disabled>
                                        <br>                                       
                                        <br>                                                                                                    
                                                                  
                        
                    </div>
                    
                
                
            </form>
            <%-include('partials/piePagina.html');%>
        
        
    </center>
    </div>
    <br>
    <br>
</body>
<script>

    function limpiar(){
    let numBole = document.getElementById('numBole');
    let destino = document.getElementById('destino');
    let precio = document.getElementById('precio');
    let nomCliente = document.getElementById('nomCliente');
    let edad = document.getElementById('edad');
    

    numBole.innerHTML = "";
    destino.innerHTML = "";
    precio.innerHTML = "";
    nomCliente.innerHTML = "";
    edad.innerHTML = "";
    }
</script>
</html>